@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}

.wrap{
    margin: 0 auto;
    width: 1200px;
    position: relative;
}

header {
    width: 1200px;
    height: 100px;
    margin: 0;
    position: relative;
    background-color: cornflowerblue;
}

header>nav>ul {
    display: flex;
    text-align: center;
    float: right;
    margin-right: 20px;
}

header>nav>ul>li>a{
    display: block;
    width: 140px;
    height: 40px;
    background-color: #9cbefd;
    padding: 8px;
}

header>nav>ul>li>a:hover {
    background-color: hsl(219, 100%, 76%);
}

header>nav>ul>li>ul {
    width: 140px;
    height: 100px;
    background-color: hsl(220, 100%, 88%);
    display: none;
    position: absolute;
    z-index: 13;
}


.silder {
    width: 1200px;
    height: 300px;
    margin: 0 auto;
    overflow: hidden;
}

#silder {
    width: 1200px;
    height: 300px;
    /* position: relative;   */
}

#silder>a {
    width: 1200px;
    height: 300px;
    float: right;
    position: relative; 
}


.text {
    width: 200px;
    height: 100px;
    background-color: #e5feff;
    text-align: center;
    padding-top: 20px;
    position: absolute;
    z-index: 10;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.gr {
    width: 1200px;
    height: 200px;
    margin: 0 auto;
    display: flex;
}

.gall {
    width: 400px;
    height: 100%;
    background-color: cornflowerblue;
}

.te{
    display: flex;
    gap: 10px;
}

.js {
    width: 400px;
    height: 166px;
}

.js>div{
    display: none;
}

.notion {
    width: 100%;
    height: 100%;
    background-color: hwb(228 58% 0%);
    position: relative;
}

.gallery {
    width: 100%;
    height: 100%;
    background-color: hsl(219, 98%, 62%);
}

.ba{
    width: 400px;
    height: 100%;
    background-color: #9cbefd;
}

.notion>ul {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 19;
    
}

.notion>ul>li>a {
    font-size: 20px;
}

.notion>ul>li>span {
    margin-left: 50px;
    font-size: 20px;
}

.ia {
    width: 400px;
    height: 170px;
    display: flex;
}

.ia>img {
    margin-top: 50px;
    height: 50%;
    width: 40%;
}

.banner {
    width: 100%;
    height: 100%;
    position: relative;
}

.banner>img {
    width: 100%;
    height: 100%;
}

.banner>h2 {
    position: absolute;
    z-index: 99;
    margin: 10px;
}

.go {
    background-color: #6198ff;
    width: 400px;
    height: 100%;
}

footer {
    width: 1200px;
    height: 100px;
    background-color: #e5feff;
}

.warm {
    width: 350px;
    height: 400px;
    background-color: rgb(159, 160, 160);
    text-align: center;
    padding: 100px;
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;

}

.warm>button {
    margin: 50px;
}